.git
.next
node_modules
npm-debug.log*
.env
.env.*
!.env.example
Dockerfile
docker-compose.yml
dev-server.log
dev-server.err.log
.next-dev.log
tsconfig.tsbuildinfo
saveweb2zip-com-dewesoft-com
saveweb2zip-com-e-products-entaniya-co-jp
dewesoft
entaniya
docs
data
assets
